[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap = "*"
django-bootstrap4 = "*"
django-registration = "*"
psycopg2 = "*"
cloudinary = "*"
django-registration-redux = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"
