{% extends 'insta/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container mt-4" style="width: 50%; margin-left: auto; margin-right: auto;">
  <div class="row">
    <div class="col-6">
      <div class="card" style="justify-content: center; align-items: center;">
        <div class="card-title mt-4">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" height="50" width="150px" alt="">
        </div>
        <div class="card-body mb-3 mr-auto ml-4">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-sm">Sign up</button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}