{% extends 'insta/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
{% for post in posts %}
{% if post %}
<br>
<div class="container feed" style="width: 50%; margin-left: auto; margin-left: auto; box-shadow: 1px solid #777;">
    <div class="card">
        <div class="image" style="display: flex; padding: 5px;">
            <img style="border-radius: 50%; width: 10%;" src="{{user.profile.profile_photo.url}}" alt="">
            <p style="font-weight: bold; padding-top: 20px; margin-left: 20px;"> {{user.profile.name}} </p>
        </div>
    </div>    
    <div class="card">
        <div class="image"  style="display: flex; justify-content: center; align-content: center;">
            <a href="{% url 'home' %}"><img class="img-thumbnail" src="{{post.image.url}}" alt=""></a>
        </div>
        <section class="btn-group mt-3 ml-3">
            <a href="#" type="button" class="btn-love" style="font-size: larger;"><i  class="far fa-heart fa-lg"></i></a>
            <a href="#" type="button" class="btn-comment" style="margin-left: 30px; font-size: larger;"><i class="far fa-comment fa-lg"></i></a>
            <a type="button" class="btn-share" style="margin-left: 30px; font-size: larger;"><i class="fas fa-share fa-lg "></i></a>
            <a type="button" class="btn-bookmark" style="margin-left: 450px;"><i class="far fa-bookmark fa-lg"></i></a>
        </section>
        <div class="post-caption" style="margin: 20px;">
            <p> <span style="font-weight: bold; "> {{user.profile.name}} </span> {{post.caption}}</p>
        </div>
        <div class="comment">
            <p>Your comment</p>
        </div>
    </div>
   
</div>
{% endif %}
{% endfor %}


{% endblock %}