{% extends 'insta/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="container" style="width: 50%; margin-left: auto; margin-left: auto;">
    <div class="card">
        {% for post in posts %}
        {% if post %}
        <div class="user-profile">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img style="border-radius: 50%; width: 10%;" src="{{user.profile.profile_photo.url}}" alt="">
                    </div>
                    <div class="col">
                        <p> {{user.profile.name}} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <a href="{% url 'home' %}"><img src="{{post.image.url}}" alt=""></a>
        </div>
        <div class="comment">
            <p>{{post.comment.body}}</p>
        </div>

    {% endif %}
    
    {% endfor %}
</div>


{% endblock %}