
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Clone</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">       
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" height="40" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="margin-left: 20%;">
                <form class="d-flex my-2 my-lg-0" method="GET" action="{% url 'search' %}">
                  <input class="form-control me-2" type="search" name='q' placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
              <div class="d-flex ml-3 p-2">
                  <a href=" {% url 'home' %} "><i style="margin-right: 20px; font-size: 20px;" class="fas fa-home"></i></a>
                  <a href=" {% url 'profile'  %} "><i style="margin-right: 20px;font-size: 20px;" class="far fa-heart"></i></a>
                  <a href="{% url 'post_add' %}"><i style="margin-right: 20px;font-size: 20px;" class="far fa-plus-square"></i></a>
                  <form id="authstyle">
                    {% if user.is_authenticated %}
                      <a href="{% url 'profile' %}" style="color: black;"type="submit" id="header-links">
                        <img style="width: 10%;" src="{{user.profile.profile_photo.url}}" alt="Profile">
                      </a>
                      <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                      <a href="{% url 'signup' %}" class="btn" style="color: black; "type="submit" id="header-links"> Create Account </a>
                      <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                  </form>
              </div>
            </div>
        </div>
    </nav>
</body>
</html>