{% extends 'insta/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<br>
<br>
<br>
<div class="container">
    <div class="content">
        <div class="media-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img class="rounded-circle account-img" style="border-radius: 50%; height: 200px; width: 200px;" src="{{user.profile.profile_photo.url}}" alt="">
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="posts-body">
                            <div class="account-heading">
                                <span>{{ user.username }}</span>
                            </div>
                            <div class="post-details mt-3 mb-4">
                                <span class="mr-5"><strong>{{user.profile.image.count}}</strong>Posts</span>
                                <span class="mr-5"><strong>{{user.profile.followers.count}}</strong> Followers</span>
                                <span class="mr-5"><strong> {{user.profile.following.count}}</strong>Following</span>
                            </div>
                            <h4> {{user.profile.name}} </h4>
                            <p class="text-secondary"> {{user.profile.bio}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-sm" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModelCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        {{ user_form|crispy}}
                        {{ prof_form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-3">
    <div class="card-columns">
        {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <img src=" {{post.image.url}} " alt=" {{post.caption}} ">
                <p id="overlay" class="text">
                    <i class="fas fa-comment ml-4" style="color: white"></i> <span style="color: white">{{post.comments.count}}</span>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}